# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Classpath and project
.classpath
.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea
.idea/

# other settings
.settings/
target/

# Experiment folder
#results/

# Thread errors
*-error
*-output

# Large Datasets
*10k.csv
*50k.csv

# Individual results
experiment_results*

# Outputs and errors
run_experiments_cluster*
*.bash.[eo]*

# Singularity Image
*.sif

#Github keys script
scripts/git-keys-update.bash

# .DS-Files
*.DS_Store

# Adding galgo results
!results/raw-galgo.zip

# ignore notebook checkpoints
.ipynb_checkpoints/

# ignore replicates folder
replicates/
